@tailwind base;
@tailwind components;
@tailwind utilities;

.appContainer {
    background: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;   
  }
  
  .responsive-container {
    width: 95%;
    max-width: 550px;
    min-width: 100px;
  }
  
